body{
  background-color: rgb(66, 182, 190);
}

.result {
  height: 60px;
  background-color: rgb(233, 243, 243);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: rgb(2, 15, 19);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(255, 238, 7);
}
h1{
 font:170% verdana, "Trebuchet MS", arial, tahoma, sans-serif;
 font-size: 40px;
 flex: 1;
}